version: "2"

services:
  db:
    image: mysql:5.7
    networks:
      - internal
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "1"
      MYSQL_DATABASE: ${MYSQL_DATABASE_NAME}
      MYSQL_USER: ${MYSQL_DATABASE_USER}
      MYSQL_PASSWORD: ${MYSQL_DATABASE_PASSWORD}

  wordpress:
    image: wordpress:latest
    depends_on:
      - db
    networks:
      - proxy
      - internal
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: ${MYSQL_DATABASE_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_DATABASE_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE_NAME}
    labels:
      # The labels are usefull for Traefik only
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      # Get the routes from http
      - "traefik.http.routers.wordpress.rule=Host(`${WORDPRESS_URL}`)"
      - "traefik.http.routers.wordpress.entrypoints=web"
      # Redirect these routes to https
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.wordpress.middlewares=redirect-to-https@docker"
      # Get the routes from https
      - "traefik.http.routers.wordpress-secured.rule=Host(`${WORDPRESS_URL}`)"
      - "traefik.http.routers.wordpress-secured.entrypoints=websecure"
    volumes:
      - /etc/localtime:/etc/localtime:ro

volumes:
  db_data:

networks:
  # Public network
  proxy:
    external: true
  # App network
  internal:
    external: false
